* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.clearfix::after{
  content: "";
  display: block;
  clear: both;
}

main{
	margin: 50px auto;
}

.blog-box{
	float: left;
	width: 300px;
	margin-right: 30px;
	padding: 10px;
	position: relative;
	border: 1px solid #eee;
}

.blog-img1{
	height: 150px;
	background-image: url(img/flow01.png);
	background-size: cover;
	background-position: bottom;
}
.blog-img2{
	height: 150px;
	background-image: url(img/flow02.png);
	background-size: cover;
	background-position: bottom;
}
.blog-img3{
	height: 150px;
	background-image: url(img/flow03.png);
	background-size: cover;
	background-position: bottom;
}
.blog-num{
	position: absolute;
	top: 0;
	left: 0;
	background-color: #FF9A4B;
	color: #fff;
	padding: 3px;
}
.title{
	margin: 15px 0 5px;
}

@media screen and (max-width: 768px){
	.blog-box{
		width: 90%;
		float: none;
		margin: 0 auto;
		margin-bottom: 20px;
	}
	.blog-img1{
		text-align: center;
	}
	.blog-img2{
		text-align: center;
	}
	.blog-img3{
		text-align: center;
	}
}